<h1>All Uploaded Images</h1>

<div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px">
  <% images.forEach(img=>{ %>
  <div
    style="
      flex: 0 0 23%;
      text-align: center;
      border: 1px solid #ccc;
      padding: 10px;
      box-sizing: border-box;
    "
  >
    <h3><%= img.name %></h3>
    <img src="<%= img.path %>" width="100%" />
  </div>
  <% }) %>
</div>

<a href="/">back to upload</a>
